 *{
    margin: 0px;
    padding: 0px;
 }

 .nav-container{
    display: flex;
    align-items: center;
    height:130px;
    width: 1920px;
    background: #FFF;
    box-shadow: 0px 8px 30px 0px rgba(0, 0, 0, 0.05); 
    justify-content: space-between;
    margin: 0px auto;  
    
}
.icon-game{
    height: 40px;
    
}
.nav-game-logo-container{
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 240px;
    
    justify-content: center;
}
.title-discrib{
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.primary-text-colour{
    color: #FF42A5;
}
.nav-menus a{
    text-decoration: none;
    gap: 20px;
}
.follow-button{
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10); 
    padding: 10px 25px;
 }
.nav-menus{
    display: flex;
    align-items: center;
    
    padding-right: 240px;
    justify-content: center;
    gap: 30px;
}
.nav-menus-text{
    color: #3C354F;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    gap: 10px;
}
.fa-brands{
    margin-right: 10px;
    margin-left: 15px;
}
.banner-container{
    display: flex;
    align-items: center;
    height:700px;
    width: 1920px;
    background: #FFF;
    background-image: url(./Group\ 14.png);
    justify-content: space-between;
    margin: auto 0px;  background-repeat: no-repeat; 
    margin-top: 5px;
}
.banner-section{
    padding-left: 240px;
    padding-right: 300px;
}
.title-1{
    color: #0B0223;
    text-align: center;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}
.title-2{
    text-align: center;
    font-family: Work Sans;
    font-size: 95px;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.banner-section ul{
    list-style: none;
    margin-bottom: 20px; 
}
.list-iteam{
    color: #534C64; 
   font-family: Work Sans;
   font-size: 20px;
   font-weight: 500; 
}
.button-1{
    padding: 20px 40px 20px 40px;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    color: #FFF;
    font-family: Work Sans;
    font-size: 20px;  
    font-weight: 600;
    border: none;
cursor: pointer;}
.button-2{
    border-radius: 48px;
    background: #4EC5F7;
    padding:20px 40px 20px 40px ;
    color: #FFF;
    font-family: Work Sans;
    font-size: 20px;
    border: none;
    font-weight: 600;
    margin-left: 20px;
    cursor: pointer;
}
.banner-img{
    margin-top: -30px;
    padding-right: 240px;
    align-items: center;   
}
.banner-img>img{
    height: 660px;
    width: 700px;
    margin-top: -90px;   
}
.banner-2-container{
    max-width: 1920px;
    height: 700px;
    display: block;
    align-items: center;
}
.banner-2-content{
    margin-top: 100px;
}
.banner-2-title{
    color: #0B0223;
    text-align: center;
    font-family: Work Sans;
    font-size: 48px; 
    font-weight: 700;
    margin-bottom: 10px;
}
.title-3{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.banner-2-discrib{
    color: #534C64;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; 
}
.banner-2-card{
    display: flex;
    margin: 0px auto;
    justify-content: center;
    gap: 15px;
    height: 500px;
    align-items: center;
}
.banner-card-1>img{
    width: 342px;
    height: 400px;
    border-radius: 16px;
}
.image-discrib{
    display: block;
    width: 342px;
    height: 60px;
    color: #534C64;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;}
.banner-card-2>img{
    width: 342px;
    height: 400px;
    border-radius: 16px;
}
.banner-style{
    display: block;
}
.banner-card-3{
    width: 342px;
    height: 400px;
    border-radius: 16px;
    background: url(./Rectangle\ 7.png), lightgray 50% / cover no-repeat;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%), url(./Rectangle\ 7.png), lightgray 50% / cover no-repeat;
}
.icon-cap{
    text-align: center;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
    cursor: pointer;}
.banner-card-4>img{
    width: 342px;
    height: 400px;
    border-radius: 16px;
}























 @media  screen and (max-width: 425px) {
    
    .nav-container{
        flex-direction: column;
        height: 320px;  
    }
    .nav-menus{
        flex-direction: column;
        margin-top: 10px;
        padding-right: 240px;
    }
    .nav-menus-text{
        margin-top: 30px;
    }
    .nav-game-logo-container{
        padding-right: 480px;
    }
    .banner-container{
        flex-direction: column;
    }
    .banner-img{
        padding-right:300px;
        height: 300px; 
    }
    .banner-section{
        padding-right: 480px;
    }
    .banner-2-container{
        height: 1000px;
        margin-top: 400px;
        margin-left:300px;
        width: 1920px;
    }
    .banner-2-card{
        flex-direction: column;
        height: 2000px;
        margin-right: 850px;
    }
    .banner-2-content{
        margin-right: 1150px;
        margin-left: 350px;}
 }